@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-display: "Lexend", sans-serif;
    --font-variable: "Bitcount Single", system-ui;
}

@keyframes shimmer {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(150%);
    }
}

.animate-shimmer {
    animation: shimmer 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}